{
    "parser": "typescript",
    "arrowParens": "always",
    "bracketSpacing": true,
    "printWidth": 80,
    "proseWrap": "preserve",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "none"
}